.comics {
  margin-top: 25px;
  margin-bottom: 50px;
}

.videos a {
  text-decoration: none;
}
.videos a:hover {
  text-decoration: none;
}

.videos .video {
  display: inline-block;
  /*margin-top: 25px;*/
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 25px;
  background: #aaa;
  color: white;
  text-align: center;
}

.videos .video:hover {
  background: #666;
}
