@import url('https://fonts.googleapis.com/css?family=Lora|Cinzel');

body {
  font-family: 'Lora', serif;
}

.navbar-fixed-top {
  border-width: 0;
}
.navbar-default {
  background: white;
  color: black;
}

.home,
.games,
.videos,
.about,
.comics {
  margin-top: 50px;
}
