@import url('https://fonts.googleapis.com/css?family=Lora|Cinzel');

body {
  font-family: 'Lora', serif;
}

.navbar-fixed-top {
  border-width: 0;
}
.navbar-default {
  background: white;
  color: black;
}

.home,
.games,
.videos,
.about,
.comics {
  margin-top: 60px;
}

.home {
}
.home-section {
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* Comics */
.comics a {
  text-decoration: none;
}
.comics a:hover {
  text-decoration: none;
}

.comics .comic-list-item {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 25px;
  background: #aaa;
  color: white;
  text-align: center;
  cursor: pointer;
}
.comics .comic-list-item:hover {
  background: #666;
}

.comic .comic__body {
  margin-top: 60px;
}
.comic .comic__header {
}
.comic .comic__title {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 15px;
}
.comic .comic__navigation {
  display: inline-block;
}
.comic .comic__navigation .btn {
  margin-right: 10px;
}
.comic .comic__image img {
  width: 100%;
}
.comic .comic__description {
  font-size: 1.25em;
  margin-bottom: 50px;
}

/* Video */

.videos .video-list-item {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 25px;
  background: #aaa;
  color: white;
  text-align: center;
  cursor: pointer;
}
.videos .video-list-item:hover {
  background: #666;
}

.video .video__body {
  margin-top: 60px;
}
.video .video__title {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 15px;
  margin-bottom: 25px;
}
.video .video__navigation {
  display: inline-block;
}
.video .video__navigation .btn {
  margin-right: 10px;
}
.video .video__description {
  font-size: 1.25em;
  margin-top: 25px;
  margin-bottom: 50px;
}

.game {
  margin: 10px;
  color: black;
  text-decoration: none;
  display: block;
  padding: 25px;
  min-height: 250px;
}

.game:hover, .game:active, .game:focus {
  background: gray;
  text-decoration: none;
  color: black;
}
.game.equals {
  background: #9acbe7;
}
.game.rally-omelet {
  background: #f9dcad;
}

.game-title {
  font-size: 2em;
}
.game-description {
  font-size: 1.25em;
}
.game .game-operator {
  display: inline-block;
  margin-top: 10px;
}
/*.game-operator.add {*/
  /*font-size: 5em;*/
/*}*/
/*.game-operator.subtract {*/
  /*font-size: 5em;*/
/*}*/
/*.game-operator.multiply {*/
  /*font-size: 5em;*/
/*}*/
/*.game-operator.divide {*/
  /*font-size: 1.5em;*/
/*}*/

.about {
}
.about-title {
  font-size: 2em;
}
.about-section {
  font-size: 1.25em;
  margin-top: 15px;
}
