/* TODO: Refactor */
.comics {
  margin-top: 25px;
  margin-bottom: 50px;
}

.comic__title {
  display: inline-block;
  margin-top: 15px;
}
.comic__title a {
  margin-top: -10px;
  margin-left: 10px;
}
.comic__title h2 {
  display: inline-block;
}
.comic__title button {
  display: inline-block;
  margin-left: 10px;
  /*border-radius: 0px;*/
  /*border: none;*/
  /*font-size: 16px;*/
  /*padding: 10px 15px;*/
}

.comic__description {
  font-size: 18px;
  margin: 10px 0;
}

